.navbar{
    background-color: #000;
    color: green;
    padding: 8px 5px ;
    border-radius: 5px;

}
.logo{
    padding-left: 5%;
    color: green;
    font-size: 24px;

}
.nav-links{
    align-items: centre;
    display: flex;
    gap: 10%;
    padding-left: 80%;

}
