/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
  }
  
  .container-logo {
    display: flex;
    align-items: center;
    text-decoration:solid ;
    font-style: italic;
    color: #28a745;
  }
  
  .logo {
    width: 60px; /* Set the width for the logo */
    height: 40px; /* Set the height for the logo */
    border-radius: 50%; /* Makes the logo circular if it's a square image */
    object-fit: cover; /* Ensures the logo doesn't get distorted */
    margin-right: 10px; /* Space between logo and text */
  }
  .title{
    font-size: larger;
    color: #218838;

  }
  
  .nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  .nav-links li {
    padding: 5px 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .nav-links a:hover {
    color: #28a745; /* Optional: Highlight links on hover */
  }
  
  .container {
    display: flex;
    gap: 10px;
  }
  
  .btn {
    background-color: #218838;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  .btn:hover{
    background-color: goldenrod;
    color: #000;
  }
  
